@model PronptModel_ver2.Models.Day

@{
    ViewData["Title"] = "新規記事";

    if (Model is null) throw new ArgumentNullException(nameof(Model)); // ad-hoc! 非null保証のための回避策
}

<form asp-action="Create">

    @* 公開状態(PublicationState)のための入力欄*@
    <label asp-for="@Model.DayNo"></label>：
    <select asp-for="@Model.DayNo" asp-items="Html.GetEnumSelectList<DayName>()"></select>
    <br />

    @* 公開状態(PublicationState)のための入力欄*@
    <label asp-for="@Model.PublicationState"></label>：
    <select asp-for="@Model.PublicationState" asp-items="Html.GetEnumSelectList<PublicationStateType>()"></select>
    <br />



    @* 本文(Body)のための入力欄*@
    <label asp-for="@Model.PersonaLeffects"></label>：<br />
    <textarea asp-for="@Model.PersonaLeffects" rows="10" cols="70"></textarea>
    <br />

    <input type="submit" value="投稿" />
    <div asp-validation-summary="All"></div>
</form>

<a asp-action="Index">一覧に戻る</a>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}