@model PronptModel_ver2.Models.Day

@{
    ViewData["Title"] = "記事削除";

    if (Model is null) throw new ArgumentNullException(nameof(Model)); // ad-hoc! 非null保証のための回避策
}

<h1>Delete</h1> @* ←削除 *@

<h3>記事を削除しますか？</h3>
<div>
    <h4>Day</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonaLeffects)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonaLeffects)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicationState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicationState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentUserId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="削除" class="btn btn-danger" /> |
        <a asp-action="Details" asp-route-id="@Model.Id">詳細に戻る</a>
        <a asp-action="Index">Back to List</a>
    </form>
</div>
